{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    {% include 'includes/_head.html' %}
    {% include 'includes/_title.html' %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static',filename='css/bootstrap.min.css') }}"
    />
{% endblock %}

{% block navbar %}
    {{ nav.top.render() }}
{% endblock navbar %}

{% block content %}
    <header>{% block header %}{% endblock %}</header>
{% endblock %}

{% block footer %}
    <footer>
    Copyright 2018 by <a href="buchimogu.cn">Tomas</a>    </footer>
{% endblock %}


